:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* 사이즈도 변수로 지정해서 적용이 가능하다!...몰랐엔..ㅠ */
  /* size */
  --base-space: 8px;
  --size-button: 60px;
  --size-border: 4px;
  --size-thumbnail: 50px;
  --font-size: 18px;

  /* annimation */
  --animation-duration: 300ms;
}

body {
  height: 100vh;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
  /* 트랜지션을 logo에 넣어야 움직임을 준다. */
}

.btn {
  background-color: transparent; /*백그라운드 투명*/
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
  margin-right: var(--base-space);
}

.btn:hover,
.logo:hover {
  transform: scale(1.1);
  /* 변화 스케일크기 적용 */
}

/* 버튼들이 담겨있는 컨테이너 section 추가됨 */
.buttons {
  display: flex;
  align-items: center;
  /* 수직에서 가운데정렬 */
}

.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}

.colorBtn {
  font-size: var(--font-size);
  /* 베이스보다 2배 크도록 만들기. calc라는 함수 */
  padding: calc(var(--base-space) * 2);
  border-radius: var(--size-border);
}

.blue {
  background-color: var(--color-blue);
}

.yellow {
  background-color: var(--color-yellow);
}

.pink {
  background-color: var(--color-pink);
}

/* 아이템 리스트를 담고 있는 전체틀 */
.items {
  /* 크기 규격을 맞춰준다. */
  width: 60%;
  height: 60%;

  list-style: none;
  padding-left: 0;

  /* 페이지 전체가 아닌, items 규격안에서 스크롤이 발생하도록 */
  overflow-y: scroll;
}

.item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: var(--base-space);
  margin-bottom: var(--base-space);
}

.item.invisible {
  background-color: var(--color-white);
  display: none;
}

.item__thumbnail {
  width: var(--size-thumbnail);
  height: var(--size-thumbnail);
}

.item__description {
  margin-left: var(--base-space);
  font-size: var(--font-size);
}
